@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	background-color: aliceblue;
}
html{
	font-family: arival, helvetica, sans-serif;
}

header nav {
	width: 1185px;
	height: 100%;
	margin: 0 auto;
}
header{
	background-color: aquamarine;
	height: 100%;
}
/*---------- Navigation-------*/
nav ul {
	padding: 0;
	list-style: none;
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
}

nav a {
	font-size: 20px;
	text-decoration: underline;
}
nav li a {
	margin-left: 50px;
	color:black;
}
nav img {
	margin: 20px 0;
}

/*----Footer---
footer{
	background-color: aquamarine;
	height: 90px;
	position: relative;
	clear: both;
}*/
.bootem-image{
	position: absolute;
	bottom: 0vh;
	left: 50vw;
	padding: 1em;
	transform: translateX(-65%);
}
footer img {
	margin-left: 35px;
}
figure img {
	margin-bottom: 15px;
}
#footer {
   position:absolute;
   bottom:-300px;
   width:100%;
   height:90px;   /* Height of the footer */
   background-color: aquamarine;
}
/*---row1---*/
.row1{
	height: 150px;
	text-align: center;
}
.row1 li {
	float: left;
	word-spacing: 40px;
	margin: 1.6%;
	width: 40%;
	height: 30px;
	transform: translateX(15%);
	
}
.row1 p{
	word-spacing: -0.5px;
}
